<h3>smalltalk Partners</h3>
<ul>
<% current_user.partners.uniq.each do |partner| %>
  <li><%= link_to partner.name, partner_path(partner)%> -
      <%= "(WRITE METHOD avg rating for this user)" %>
  </li>
<% end %>
</ul>