<h3>SmallTalk Partners</h3>

<% sorted_partners = current_user.partners.uniq.sort_by { |p| current_user.average_rating(p) }.reverse %>
<ul>
<% sorted_partners.each do |partner| %>
  <li>
    <%= link_to partner.name, partner_path(partner)%> - <%= current_user.average_rating(partner)%> stars
  </li>
<% end %>
</ul>

<%= link_to "Back to my homepage", user_path(current_user) %>

