<h3>SmallTalk Partners</h3>
<ul>
<% current_user.partners.uniq.each do |partner| %>
  <li><%= link_to partner.name, partner_path(partner)%> -
      <%= current_user.average_rating(partner) %> stars
  </li>
<% end %>
</ul>

