<h3><%= @partner.name %><h3>
<p>you have had WRITE_METHOD number of conversations with <%= @partner.name %></p>
<p>you had the most conversations with them about this topic: WRITE METHOD (topic and how much %) </p>
<p>and your average conversation was rated: WRITE METHOD</p>
<p>Try bringing up TOPIC-WRITE METHOD with <%= @partner.name %>, its one of their favorite topics!</p>

<p>INSERT list of all topics for this partner with links</p>

<%= link_to "all of your conversation partners",  partners_path %>