<p>You talked to: <% current_user.partners.uniq.each do |partner| %>
 <%= link_to partner.name, partner_path(partner) %> |
<% end %>
</p>
<!-- Time: ( bootstrap calendar? ) -->
<h3> Conversations sorted by most recent </h3>
<ul>
<% sorted_convos = current_user.conversations.sort_by { |convo| convo.time }.reverse  %>
<% sorted_convos.each do |convo| %>
  <li> <%= link_to "#{convo.time.to_date} - #{convo.partner.name} - #{convo.review.rating}", conversation_path(convo) %> </li>
<% end %>
</ul>
<%= link_to "Back to my homepage", user_path(current_user) %>

