<div class="center jumbotron">
<h1> Welcome to SmallTalk </h1>

<h3> Helping Socially Awkward People Since 2016 </h3>
<br><br>

<%= notice %>


<br><br>
<%= link_to "Add a new conversation", new_conversation_path %></br>
<%= link_to 'All conversations', conversations_path %></br>

<br><br>
