<footer class="footer">
  <small>
    Small Talk brought to you by <a href="https://github.com/alexgriff/">Alex Griffith</a>, <a href="https://github.com/namimi928">So-Young Nam</a> and <a href="https://github.com/samnags/">Sam Nagourney</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://flatironschool.com/">Flatiron School</li>
      <li><a href="https://github.com/samnags/smalltalk">Our Repository</li>
    </ul>
  </nav>
</footer>